.AddCardForm {
  border-radius: 8px;
  width: 500px;
  border: solid 1px lightgray;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  @include for-phone-only {
    width: 80%;
  }

  &__hint {
    color: $success;
    margin-left: 0.5rem;
    font-size: 1em;

    &:hover {

    }
  }

  &__fields {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 40px 180px 1fr;
    grid-row-gap: 1rem;
  }

  &__subfields {
    display: flex;
    flex-direction: row;

    @include for-phone-only {
      flex-direction: column;
    }
  }

  &__subfield-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;

    &:first-child {
      margin-right: 4px;
      border-right: solid 1px lightgray;

      @include for-phone-only {
        margin-right: 0;
        border-right: none;
        margin-bottom: 1rem;
      }
    }

    &--disabled {
      color: gray;
      pointer-events: none;
      background-color: lightgray;
      transition: background-color 250ms ease;
    }
  }


  &__actions {
    margin-top: 1rem;
  }

  &__remove-image {
    color: red;
    margin-right: 1rem;
  }

  &__image-field {
    width: 200px;
    height: 180px;
    border-bottom: none;

    @include for-phone-only {
      height: 120px;
    }
  }

  &__field {
    min-width: 186px !important;
  }
}


.fileLabel {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}

.fileLabel--empty {
  border: 2px dashed lightblue;
  width: 200px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-phone-only {
    height: 120px;
  }
}

.label-file:hover {
  color: #25a5c4;
}

.fileInput {
  display: none;
}



