.AddCardUser {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__card {
    position: relative;

    overflow: hidden;
    border-radius: 8px;
    width: 180px;
    border: solid 1px lightgray;
    margin: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1.1em;

    text-align: center;

    @include for-phone-only {
      width: 170px;
    }

    &-image {
      height: 100%;
      width: 100%;
    }

    &-answer {
      font-weight: 500;
      margin: 8px 0 16px 0;
    }
  }
}
