.QuestionEditionModal__container {

  .QuestionEditionModal {
    &__fields, &__field {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }

    &__field {
      min-width: 186px !important;
    }

    .InputGroup {
      display: flex;
      align-items: center;
    }

    &__actions {
      display: flex;
    }

    &__action {
      margin: 1rem 0.5rem;
      &--danger {
        background-color: $dangerColor;
      }

      &-icon {
        margin-right: 0.5rem;
      }
    }
  }
}
