.ProgressBar {
  border: 1px solid $primary;
  height: 20px;
  width: 90%;

  border-radius: $borderRadiusSmall;
 &__bar {
  background-color: $primary;
  height: 100%;
  width: 0;
  transition: width 0.5s ease-in-out;
 }
}