.ReviewProgress {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__level {
    margin: 1rem 0 0.5rem 0;
  }

  &__line {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__coins {
    margin-top: 1rem;
    width: 100%;
    position: relative;

    &-image {
      width: 1.5em;
      height: 1.5em;
      object-fit: cover;
    }

    &-value {
      position: absolute;
      color: $primary;
      top: 4px;
      margin-left: 0.25rem;
    }
  }

  &__streak {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    &-value {
      position: absolute;
      color: $primary;
      top: 4px;

      &--red {
        color: $danger;
      }

      &--orange {
        color: $warning;
      }

      &--green {
        color: $success;
      }

      &--blue {
        color: $primary;
      }
    }

    &-image {
        width: 1.5em;
        height: 1.5em;
        object-fit: cover;
    }
  }

  .streak {
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    color: $primary;
    transition: font-size .100s ease-in;

    &-enter {
      &-active {
        transform: scale(2);
        transition: transform .100s ease-in;
      }

      &-done {
        transform: scale(1);
        transition: transform .100s ease-in;
      }
    }

    &-exit {
      &-active {
        transform: scale(2);
        transition: transform .100s ease-in;
      }

        &-done {
          transform: scale(1);
          transition: transform .100s ease-in;
        }
    }
  }
}