.Button {
  // Positioning
  margin: $mediumSpacing;

  // Shape
  border-radius: $borderRadiusSmall;
  outline: none;
  border: none;
  height: 32px;
  min-width: 64px;

  // Content
  padding: $smallSpacing $mediumSpacing;
  background-color: $primary;

  color: $white;

  // Font
  font-size: 14px;
  font-weight: 500;


  // Behavior
  cursor: pointer;
  transition: filter 150ms ease-in-out;

  i {
    margin-right: $mediumSpacing;
  }

    &:hover {
        filter: brightness(1.1);
    }

  &--secondary {
    background-color: $white;
    color: $primary;
    transition: border-bottom 150ms ease-in-out;

    &--active {
      border-radius: 0;
      border-bottom: 2px solid $primary;
      transition: border-bottom 150ms ease-in-out;
    }
  }

  &--danger {
    background-color: $danger;
    color: $white;
  }
}


