
.Stats {
  padding: 1rem;
}

.Stats__list {
  display: grid;
  grid-template-columns: 500px 250px 1fr;

  @include for-phone-only {
    grid-template-columns: initial;
  }
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

body {
  margin: 0;
}

button {
  border-radius: 4px;
  background-color: $primaryColor;
  color: whitesmoke;
  outline: none;
  border: none;
  padding: 4px 8px;
  height: 32px;
  min-width: 64px;

  cursor: pointer;
  transition: filter 150ms ease-in-out;
}

button:hover {
  filter: brightness(0.8);
  transition: filter 150ms ease-in-out;
}


input {
  border: none;
  border-bottom: 1px lightblue solid;
  padding: 4px 0;
  margin: 0.25rem;
  min-width: 150px;
}
