@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,300;0,400;1,400&display=swap');
$mediumSpacing: 8px;
$defaultBorderRadius: 8px;
$borderRadiusSmall: 4px;
$defaultSpacing: 1rem;
$borderCard: solid 1px lightgray;

$navbarHeight: 40px;
$primaryColor: dodgerblue;
$primaryColorDisabled: #6EBDFF;
$gray: #b5b5b5;

body {
  font-family: 'KoHo', sans-serif;
}


@mixin cardStyle {
  border-radius: $defaultBorderRadius;
  border: $borderCard;
  padding: $defaultSpacing;
  cursor: pointer;

  // Centered
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}


@import "./mixins";
@import "./App";
@import "./atoms/Badge";
@import "./molecules/Navbar";
@import "./molecules/Card";
@import "./molecules/StatsCard";
@import "./pages/TrainingPage";
@import "./molecules/Profile";
@import "./pages/AddCard";
@import "./pages/AuthForm";
@import "./atoms/InputGroup";
