@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,300;0,400;1,400&display=swap');
@import "./mixins";
@import "./variables";

$cardWidth: 180px;
$singleCardWidth: 340px;

$mediumSpacing: 8px;
$defaultBorderRadius: 8px;
$borderRadiusSmall: 4px;
$defaultSpacing: 1rem;
$borderCard: solid 1px lightgray;

body {
  font-family: 'KoHo', sans-serif;
}


@mixin cardStyle {
  border-radius: $defaultBorderRadius;
  border: $borderCard;
  padding: $defaultSpacing;
  cursor: pointer;

  // Centered
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}


@import "./App";
@import "./atoms/Badge";
@import "./molecules/Navbar";
@import "./molecules/Card";
@import "./molecules/StatsCard";
@import "./molecules/Profile";
@import "./molecules/QuestionEditionModal";
@import "./molecules/AddCardUser";
@import "./molecules/AddCardUsers";
@import "./molecules/AddCardUserCard";
@import "./molecules/AnswersBarChart";
@import "./molecules/AddCardForm";
@import "./molecules/CategorySelect";

@import "./pages/TrainingPage";
@import "./pages/AddCard";
@import "./pages/ReviewPage";
@import "./pages/AuthForm";
@import "./pages/LoadingAppGif";
@import "./pages/Stats";
@import "./atoms/InputGroup";
@import "./atoms/LoadingGif";
