.Profile {
  max-height: 80vh;
  border-radius: 8px;
  border: solid 1px lightgray;
  margin: 0.5rem;

  font-weight: bold;
  font-size: 1.1em;

  text-align: center;
}

.Profile__image-container {
  overflow: hidden;
  border-radius: 4px;
}
