.SettingsModal-Container {
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #00000080;
  width: 100vw;
  height: 200vh; // Additional height for animation
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.42);
  overflow: hidden;
  z-index: 100;

  // fade in animation
  animation: fadeInFromTop 0.3s;
  @keyframes fadeInFromTop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &-exit {
    // fade out animation
    animation: fadeOut 0.3s forwards;
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
}
.SettingsModal {
  width: 800px;
  height: 500px;
  background-color: white;
  position: fixed;
  top: $extraLargeSpacing;

  @include cardStyle;

  @include for-phone-only {
    width: 80%;
    height: 80%;
    border: none;
  }

  &__close-button {
    position: absolute;
    top: 0.5rem;
    right: $largeSpacing;
    color: $black;
    transition: 0.2s;
    font-size: 1.5rem;

    &:hover {
      color: $primaryColor;
      transition: 0.2s;
    }
  }

  &-enter {
    // fade in to top animation
    animation: fadeInFromTop 0.3s forwards;
    @keyframes fadeInFromTop {
      from {
        opacity: 0;
        transform: translateY(-$extraLargeSpacing);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-exit {
    // fade in to top animation
    animation: fadeOutTop 0.3s forwards;
    @keyframes fadeOutTop {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(-$extraLargeSpacing);
      }
    }
  }

  &-intervals {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: $mediumSpacing;

    @include for-phone-only {
      grid-template-columns: repeat(2, 120px);
    }
  }
}