.QuestionEditionModalContainer {
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #00000080;
  width: 100vw;
  height: 200vh; // Additional height for animation
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.42);
  overflow: hidden;
  z-index: 100;

  // fade in animation
  animation: fadeInFromTop 0.3s;
  @keyframes fadeInFromTop {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &-exit {
    // fade out animation
    animation: fadeOut 0.3s forwards;
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
}

.QuestionEditionModal {
  width: 800px;
  height: 500px;
  background-color: white;
  position: fixed;
  top: $extraLargeSpacing;

  @include cardStyle;

  @include for-phone-only {
    width: 80%;
    height: 80%;
    border: none;
  }

  &__close-button {
    position: absolute;
    top: 0.5rem;
    right: $largeSpacing;
    color: $black;
    transition: 0.2s;
    font-size: 1.5rem;

    &:hover {
      color: $primary;
      transition: 0.2s;
    }
  }

  &__form {
    padding: $mediumSpacing;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__fields, &__field {
    margin-bottom: $largeSpacing;
  }

  &__fields {
    display: grid;
    grid-template-columns: 2fr 1fr;
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__field {
    min-width: 186px !important;
  }

  .InputGroup {
    display: flex;
    align-items: center;
  }

  &__actions {
    max-width: 600px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__action {
    margin: 1rem 0.5rem;

    &--danger {
      background-color: $danger;
    }

    &-icon {
      margin-right: 0.5rem;
    }
  }

  &__hints {
    padding-left: $mediumSpacing;
    margin-left: $mediumSpacing;
    // Add a border on the left of the hints
    border-left: 1px solid $gray;
    height: 100%;

    @include for-phone-only {
      border-left: none;
      padding-left: 0;
      margin-left: 0;
    }

    &-empty {
      color: $gray;
    }
  }

  &-enter {
    // fade in to top animation
    animation: fadeInFromTop 0.3s forwards;
    @keyframes fadeInFromTop {
      from {
        opacity: 0;
        transform: translateY(-$extraLargeSpacing);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-exit {
    // fade in to top animation
    animation: fadeOutTop 0.3s forwards;
    @keyframes fadeOutTop {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(-$extraLargeSpacing);
      }
    }
  }

  &__swap-button {
    margin-left: $mediumSpacing;
  }
}