.Card {
  border-radius: 8px;
  width: 180px;
  height: 150px;
  border: solid 1px lightgray;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 75ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-weight: bold;
  font-size: 1.1em;

  text-align: center;
}

.Card:hover {
  transform: translateY(-8px);
  transition: transform 150ms ease-in-out;
}

.Card__delay {
  font-weight: initial;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
}

.Card__action--failed {
  background-color: indianred;
  margin-left: 0.5rem;
}


.AddCard {
  border-radius: 8px;
  width: 180px;
  border: solid 1px lightgray;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

button {
  border-radius: 4px;
  background-color: aquamarine;
  outline: none;
  border: none;
  padding: 4px 8px;
  width: 80px;
  height: 32px;

  cursor: pointer;
  transition: filter 150ms ease-in-out;
}

button:hover {
  filter: brightness(0.8);
  transition: filter 150ms ease-in-out;
}


input {
  border: none;
  border-bottom: 1px lightblue solid;
  padding: 4px 8px;
  margin: 0.25rem;
}
