.Card {
  border-radius: 8px;
  width: 180px;
  height: 150px;
  border: solid 1px lightgray;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 75ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-weight: bold;
  font-size: 1.1em;

  text-align: center;
}

.Card:hover {
  transform: translateY(-8px);
  transition: transform 150ms ease-in-out;
}

.Card__delay {
  font-weight: initial;
}

.Card__action--failed {
  background-color: indianred;
  margin-left: 0.5rem;
}


.Card--answerShown-enter, .Card--answerShown-enter-active {
  opacity: 0;
  transform: rotateY(-180deg);
}

.Card--answerShown-enter-done {
  opacity: 1;
  transform: rotateY(0);
  transition: opacity 300ms, transform 300ms;
}

.Card--answerShown-exit, .Card--answerShown-exit-active {
  opacity: 1;
  transform: rotateY(0);
  animation: fadeOut 300ms forwards;
}


@keyframes fadeOut {
  from {
    opacity: 1;
    transform: rotateY(0);
  }

  to {
    opacity: 0;
    transform: rotateY(180deg);
  }
}
