.PoppingScore {
  // Shape of a card
  height: $cardWidth;
  width: $cardWidth;

  position: absolute;
  color: $successColor;
  font-weight: bold;

  // Display the popping score at the coordinates of the clicked card
  // Left is displayed the popping score at the center of the card
  animation: popInAndOut 500ms ease-in-out forwards;

  @keyframes popInAndOut {
    0% {
      transform: scale(0);
    }
    20% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  &__score {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    &__sparkles {
      position: relative;
      height: 100%;
      width: 100%;
    }
};
